{% extends "paginasBlog/plantillaPadre.html" %}
{%load static%}
{% block title %} Plantilla hija 1 {%endblock %}

{%block content%}
<a href="https://www.facebook.com/sharer/sharer.php?u=senderos.com"><img alt="Botón redes sociales: Facebook" src="https://blog.hubspot.es/hubfs/media/iconofacebook.png" style="width: 100px; height: 100px; margin-left: auto; margin-right: auto; display: block;"></a>
<a href="https://twitter.com/intent/tweet?text=senderos.com"></a><img alt="Botón de redes sociales: Twitter" src="https://blog.hubspot.es/hubfs/media/iconotwitter.png" style="margin-left: auto; margin-right: auto; display: block;"></a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url=senderos.com"><img alt="Botón de redes sociales: LinkedIn" src="https://blog.hubspot.es/hubfs/media/iconolinkedin.png" style="width: 100px; height: 100px; margin-left: auto; margin-right: auto; display: block;"></a>
{%endblock%}