{% extends "paginasBlog/plantillaPadre.html" %}
{%load static%}
{% block title %} Enviado {%endblock %}

{%block content%}
<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h1 id="titulo" align="center" >"Servicios"</h1>
      </div>
      <div class="panel-body">
        <section>
            <article class="post">
                {% for post in servicios %}
                     <h2 align="center">{{post.titulo}}</h2>
                     <p>{{post.resumen}}</p>
                     <p>{{post.texto}}</p>
                     <div class="img-container">
                        <img  src='/static/{{post.imagen}}'  width="50%" />
                     </div>
                     <p align="center">Creado: {{post.fecha_creacion}}/ Autor: {{post.usuario}}</p>
                     <hr>
                     <div class="text-success">
                     <hr>
                     </div>
                     <hr class="border border-primary border-3 opacity-75">
                {%endfor%}
            </article>
        </section>
      </div>
  </div>

</div>
{%endblock%}